HUD
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.vitals
	{
        position: absolute;
        top: 32px;
        right: 32px;
		font-size: 60px;
		font-family: Poppins;
		color: white;
        text-stroke: 10px black;
        font-weight: bold;
    }
}